<%= form_for(@time_line) do |f| %>
  <% if @time_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_line.errors.count, "error") %> prohibited this time_line from being saved:</h2>

      <ul>
      <% @time_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet_id %><br>
    <%= f.number_field :tweet_id %>
  </div>
  <div class="field">
    <%= f.label :retweet_id %><br>
    <%= f.number_field :retweet_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
